@tailwind base;
@tailwind components;
@tailwind utilities;


.InputContainer {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.8px solid black;
  border-radius: 8px;
}

.input {
  width: 340px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  border-radius: 8px;
}



